/* * GOOGLE FONTS */
/* Nunuto */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* Nunito Sans */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* * GLOBAL VARIABLES */

:root {
    /* NOT USED */

    --standard-size: 1rem;

    /* IN USE */

    /* Colors */
    --clr-light-grey-lighter: rgb(219, 219, 219);
    --clr-light-grey        : rgb(193, 193, 193);
    --clr-light-grey-darker : rgb(170, 170, 170);

    --clr-pastel-yellow-lighter: #f5cc87;
    --clr-pastel-yellow        : #f8c469;

    --clr-sky-blue: #5e96c2;

    --clr-grey-blue-lightest: rgb(182, 193, 249);
    --clr-grey-blue-lighter : rgb(69, 101, 138);
    --clr-grey-blue         : rgb(38, 56, 78);
    --clr-grey-blue-darker  : rgb(25, 38, 53);

    --clr-pastel-purple-lighter: #b6c1f9;
    --clr-pastel-purple        : rgb(128, 140, 192);
    --clr-pastel-purple-darkest: rgb(24, 32, 70);

    --clr-lilac       : rgb(231, 209, 255);
    --clr-lilac-darker: rgb(200, 167, 236);

    --clr-success-green: #73bd73;
    --clr-error-red    : #c95056;


    /* Sizes */
    --title-font-size           : 2.5rem;
    --slightly-smaller-font-size: 0.8em;

    --new-x-cluster-original-width  : 20rem;
    --settings-original-width       : 20rem;
    --btn-toggle-view-original-width: 15rem;
    --btn-save-original-width       : 10rem;

    --timer-display-routine-name-original-size         : 1.5rem;
    --timer-display-current-exercise-name-original-size: 2.25rem;
    --timer-display-countdown-original-size            : 3.5rem;

    --container-exercise-cards-left-and-right-padding-original-size: 1rem;

}

/* * START RESETS */

*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin : 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    display  : block;
}

/* Mostly for aesthetics */
button {
    border       : 0;
    outline-color: transparent;
}

/* End resets */

/* * START HTML ELEMENTS */

body {
    font-family              : "Nunito", sans-serif;
    min-height               : 100vh;
    text-align               : center;
    background-image         : linear-gradient(to bottom, #000000, #040103, #070307, #08050d, #060811, #060c14, #060f17, #061219, #08151c, #0b1720, #0c1a23, #0d1c27);
    /* background-image      : radial-gradient(circle, #232327, #1d1c1f, #171516, #0e0c0d, #000000); */
    /* background-color      : var(--clr-sky-blue); */
    color                    : whitesmoke;
}

button {
    font-family  : "Nunito", sans-serif;
    outline-color: transparent;
    border       : 0;
    transition   : 300ms ease;
}


button:hover {
    cursor: pointer;
}

li {
    list-style-position: inside;
}

a {
    color: whitesmoke;
}

a:hover,
a:focus {
    color: var(--clr-pastel-purple-lighter);
}

label,
input {
    display: flex;
}

label {
    margin-bottom: 0.25rem;
}

/* * START POPUP OVERLAY  */

/* Disable scrolling */
.no-scroll {
    overflow: hidden;
    height  : 100vh;
}

#popup-overlay-anchor {
    position: relative;
}

#popup-overlay {
    position       : absolute;
    height         : 100vh;
    width          : 100%;
    z-index        : 99;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    text-align     : center;

    background-color: #020d15;
    color           : rgba(245, 245, 245, 0.867);

    /* Overlay animation */
    animation      : fade-back ease-out forwards;
    /* ! DISABLE/ENABLE FOR TESTING */
    animation-delay: 1.5s;

    img {
        display: inline;
    }
}

@keyframes fade-back {
    0% {}

    100% {
        opacity: 0;
        z-index: -99;
    }
}

.title {
    background             : rgb(251, 187, 215);
    background             : linear-gradient(180deg, rgba(251, 187, 215, 1) 5%, rgba(143, 194, 255, 1) 95%);
    -webkit-background-clip: text;
    background-clip        : text;
    -webkit-text-fill-color: transparent;
    font-size              : var(--title-font-size);
}

#overlay-phrase {
    margin-bottom: 0.5rem;
}

.version-text {
    font-size: var(--slightly-smaller-font-size);
    color    : var(--clr-light-grey-lighter);
}

/* ----------------------------------------------
  Generated by Animista on 2024-10-13 1:6:7
  Licensed under FreeBSD License.
  See http://animista.net/license for more info. 
  w: http://animista.net, t: @cssanimista
  ---------------------------------------------- 
*/

/* Cherry blossom icon */
.bounce-in-top {
    -webkit-animation: bounce-in-top 1s both;
    animation        : bounce-in-top 1s both;
}

/* animation bounce-in-top */
@-webkit-keyframes bounce-in-top {
    0% {
        -webkit-transform                : translateY(-500px);
        transform                        : translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function        : ease-in;
        opacity                          : 0;
    }

    38% {
        -webkit-transform                : translateY(0);
        transform                        : translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function        : ease-out;
        opacity                          : 1;
    }

    55% {
        -webkit-transform                : translateY(-65px);
        transform                        : translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function        : ease-in;
    }

    72% {
        -webkit-transform                : translateY(0);
        transform                        : translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function        : ease-out;
    }

    81% {
        -webkit-transform                : translateY(-28px);
        transform                        : translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function        : ease-in;
    }

    90% {
        -webkit-transform                : translateY(0);
        transform                        : translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function        : ease-out;
    }

    95% {
        -webkit-transform                : translateY(-8px);
        transform                        : translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function        : ease-in;
    }

    100% {
        -webkit-transform                : translateY(0);
        transform                        : translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function        : ease-out;
    }
}

@keyframes bounce-in-top {
    0% {
        -webkit-transform                : translateY(-500px);
        transform                        : translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function        : ease-in;
        opacity                          : 0;
    }

    38% {
        -webkit-transform                : translateY(0);
        transform                        : translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function        : ease-out;
        opacity                          : 1;
    }

    55% {
        -webkit-transform                : translateY(-65px);
        transform                        : translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function        : ease-in;
    }

    72% {
        -webkit-transform                : translateY(0);
        transform                        : translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function        : ease-out;
    }

    81% {
        -webkit-transform                : translateY(-28px);
        transform                        : translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function        : ease-in;
    }

    90% {
        -webkit-transform                : translateY(0);
        transform                        : translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function        : ease-out;
    }

    95% {
        -webkit-transform                : translateY(-8px);
        transform                        : translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function        : ease-in;
    }

    100% {
        -webkit-transform                : translateY(0);
        transform                        : translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function        : ease-out;
    }
}

/* App's name in overlay */
.tracking-in-expand {
    -webkit-animation: tracking-in-expand 0.9s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation        : tracking-in-expand 0.9s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* animation tracking-in-expand */
@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity       : 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity       : 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

.text-focus-in {
    -webkit-animation: text-focus-in 0.65s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation        : text-focus-in 0.65s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* animation text-focus-in */
@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter        : blur(12px);
        opacity       : 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter        : blur(0px);
        opacity       : 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter        : blur(12px);
        opacity       : 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter        : blur(0px);
        opacity       : 1;
    }
}

/* * START HEADER */

.header-content {
    padding-top: 0.7rem;
}

/* * START DIV TOGGLE VIEW */

/* Sections are hidden on page load */
.div-toggle-view {
    display: none;
}

/* The buttons that are in charge of toggling the show/hide of above */
.button-toggle-view {
    background-color: var(--clr-grey-blue);
    color           : whitesmoke;
    border-radius   : 3rem;
    padding         : 1.25rem;
    font-size       : 1rem;
    width           : var(--btn-toggle-view-original-width);

    .fa-plus,
    .fa-minus {
        color: var(--clr-grey-blue-lighter);
    }
}

.button-toggle-view:hover,
.button-toggle-view:focus {
    background-color: var(--clr-grey-blue-darker);

    .fa-plus,
    .fa-minus {
        color: var(--clr-grey-blue-lightest);
    }
}

/* * START SETTINGS SECTION */

#section-settings {
    width : var(--settings-original-width);
    margin: 0 auto;

    fieldset {
        border: 0;
    }

    input,
    label {
        display: inline-block;
    }
}

.settings-checkbox {
    display: inline-block;
    margin : 0.15rem 0.5rem;
}

/* * START TIMER SECTION */

#section-timer {
    padding: 0.5rem 0 2rem;
}

#timer-display-routine-text,
#timer-display-current-exercise-text {
    font-size    : var(--slightly-smaller-font-size);
    font-weight  : bolder;
    margin-bottom: 0.25rem;
    color        : var(--clr-light-grey);
}

.timer-display-cluster {
    padding: 1rem;
}

#timer-display-routine-name {
    font-size: var(--timer-display-routine-name-original-size);
}

#timer-display-current-exercise-name {
    font-size: var(--timer-display-current-exercise-name-original-size);
    color    : var(--clr-lilac);
}

#timer-display-countdown {
    font-size: var(--timer-display-countdown-original-size);
    color    : white;
}

#container-control-buttons {
    /* Don't show buttons if there are no Routines loaded */
    display      : none;
    margin-bottom: 0.9rem;

    .button-control {
        /* This is pill shaped*/
        /* margin          : 0 0.25rem;
        background-color: var(--clr-pastel-purple);
        color           : whitesmoke;
        border-radius   : 3rem;
        width           : 6rem;
        padding         : 1.2rem 1rem; */

        /* This is circle shaped */
        margin          : 0 0.25rem;
        background-color: var(--clr-pastel-purple);
        color           : whitesmoke;
        border-radius   : 50%;
        width           : 4rem;
        height          : 4rem;
    }

    .button-control:hover,
    .button-control:focus {
        background-color: var(--clr-pastel-purple-darkest);
        color           : white;
    }

    .button-control:disabled {
        background-color: #1a1a1f;
    }
}

/* * START STYLES FOR EXTRA DETAILS */

/* Visibility toggles for "extra" timer details */
.timer-extra-hide {
    display: none;
}

.timer-extra-show {
    display: block;
}

/* TODO */
/* General styling for timer-extra*/
.timer-extra {
    padding: 1rem;
}

#timer-upcoming-text {
    font-size    : var(--slightly-smaller-font-size);
    font-weight  : bolder;
    color        : var(--clr-light-grey);
    margin-bottom: 0.4rem;
}

.timer-extra-details {
    font-size: var(--slightly-smaller-font-size);
}

.easter-egg {
    font-size: 3rem;
}

/* Show/Hide Exercise List */
#ol-currently-loaded-routine {
    display    : none;
    padding-top: 0.5rem;
}

/* * START BUTTON TOGGLE LISTS */
/* For Hide/Show Exercise List / Show/Hide Instructions */

.button-toggle-lists {
    padding        : 0;
    text-decoration: none;
    background     : none;
    font           : inherit;
    cursor         : pointer;
    font-weight    : bold;
    color          : var(--clr-light-grey);
}

.list-building-styles {
    font-size: var(--slightly-smaller-font-size);
}

.flash {
    color: goldenrod;
}

/* * START INSTRUCTIONS SECTION */

#container-instructions {
    #ol-instructions {
        display    : none;
        padding-top: 0.5rem;
    }

    a {
        font-size: 0.83rem;
    }
}

.span-new {
    color: var(--clr-grey-blue-lighter);
}

.span-exercise {
    color: var(--clr-lilac);
}

.span-save {
    color: var(--clr-pastel-yellow-lighter);
}

/* * START SECTION NEW EXERCISE */

#section-new-exercise {
    padding: 1rem 0 1rem;
}

/* This is for both Routine and Exercises' text inputs */
.new-x-cluster {
    width     : var(--new-x-cluster-original-width);
    margin    : 0 auto;
    margin-top: 1.5rem;

    label,
    input {
        width: 100%;
    }

    input {
        outline      : 0;
        outline-color: transparent;
        border       : 0;
        border-bottom: 2px solid var(--clr-light-grey);
        background   : transparent;
        color        : var(--clr-light-grey);
    }

    input:hover,
    input:focus {
        border-bottom: 2px solid var(--clr-grey-blue-lighter);
        border-bottom: 2px solid var(--clr-sky-blue);
    }

    .button-save {
        width           : var(--btn-save-original-width);
        margin          : 0 auto;
        margin-top      : 1rem;
        padding         : 1rem 0;
        border-radius   : 3rem;
        color           : rgb(31, 31, 31);
        background-color: var(--clr-pastel-yellow-lighter);
    }

    .button-save:hover,
    .button-save:focus {
        background-color: var(--clr-pastel-yellow);
    }

    /* * Feedback - for successful save of an Exercise or Routine */
    .button-success-save {
        background-color: var(--clr-success-green);
        color           : whitesmoke;
        transition      : transform ease-in 0.1s, box-shadow ease-in 0.25s;
        box-shadow      : 0 2px 1rem rgba(40, 167, 69, 0.5);
        position        : relative;
    }

    /* Just in case the user was hovering the button after pressing save, this will ensure that the button isn't showing yellow like color */
    .button-success-save:hover,
    .button-success-save:focus {
        background-color: var(--clr-success-green);
    }

    /* Credits to https: //codepen.io/nourabusoud/pen/ypZzMM?editors=0110 for the bubble effects */
    .button-success-save.animate:before,
    .button-success-save.animate:after {
        position         : absolute;
        content          : '';
        display          : block;
        width            : 140%;
        height           : 100%;
        left             : -20%;
        z-index          : -1;
        background-repeat: no-repeat;
    }

    .button-success-save.animate:before {
        top: -75%;
        background-image:
            radial-gradient(circle, goldenrod 20%, transparent 20%),
            radial-gradient(circle, transparent 20%, goldenrod 20%, transparent 30%),
            radial-gradient(circle, goldenrod 20%, transparent 20%),
            radial-gradient(circle, goldenrod 20%, transparent 20%),
            radial-gradient(circle, transparent 10%, goldenrod 15%, transparent 20%),
            radial-gradient(circle, goldenrod 20%, transparent 20%),
            radial-gradient(circle, goldenrod 20%, transparent 20%),
            radial-gradient(circle, goldenrod 20%, transparent 20%),
            radial-gradient(circle, goldenrod 20%, transparent 20%);
        background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
        animation      : topBubbles ease-in-out 0.75s forwards;
    }

    .button-success-save.animate:after {
        bottom: -75%;
        background-image:
            radial-gradient(circle, goldenrod 20%, transparent 20%),
            radial-gradient(circle, goldenrod 20%, transparent 20%),
            radial-gradient(circle, transparent 10%, goldenrod 15%, transparent 20%),
            radial-gradient(circle, goldenrod 20%, transparent 20%),
            radial-gradient(circle, goldenrod 20%, transparent 20%),
            radial-gradient(circle, goldenrod 20%, transparent 20%),
            radial-gradient(circle, goldenrod 20%, transparent 20%);
        background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
        animation      : bottomBubbles ease-in-out 0.75s forwards;
    }

    /* End crediting for bubble effect */

    /* * Feedback - for when the user tries to save an Exercise or Routine without inputting a name */
    .input-error-missing-name {
        border-bottom: 2px solid var(--clr-error-red);
        animation    : horizontal-shaking 0.15s infinite;
    }

    /* * Feedback 1 - for when a user tries to save a duplicate Exercise */
    /* * Feedback 2 - when the user tries to save a Routine without adding any Exercises */
    .button-error-red {
        background-color: var(--clr-error-red);
        color           : whitesmoke;
        transition      : transform ease-in 0.1s, box-shadow;
        box-shadow      : 0 2px 1rem rgba(161, 20, 20, 0.658);
        animation       : horizontal-shaking-less 0.2s infinite;
    }

    .button-error-red:hover,
    .button-error-red:focus {
        background-color: var(--clr-error-red);

    }
}

/* Credits to https: //codepen.io/nourabusoud/pen/ypZzMM?editors=0110 for the bubble effects */
/* Successful save feedback for [Save] buttons */
@keyframes topBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }

    50% {
        background-position: 0% 85%, 0% 50%, 10% 65%, 20% 40%, 30% 55%, 22% 60%, 50% 65%, 65% 50%, 90% 55%;
    }

    100% {
        background-position: 0% 80%, 0% 40%, 10% 50%, 20% 30%, 30% 45%, 22% 50%, 50% 50%, 65% 40%, 90% 45%;
        background-size    : 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

@keyframes bottomBubbles {
    0% {
        background-position: 10% -10%, 30% -5%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }

    50% {
        background-position: 0% 60%, 20% 65%, 45% 55%, 60% 80%, 75% 60%, 95% 50%, 105% 30%;
    }

    100% {
        background-position: 0% 70%, 20% 75%, 45% 60%, 60% 90%, 75% 70%, 95% 60%, 105% 40%;
        background-size    : 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

/* End crediting for bubble effect */

/* Missing name error feedback for inputs */
@keyframes horizontal-shaking {
    0% {
        transform: translateX(0)
    }

    25% {
        transform: translateX(4.5px)
    }

    50% {
        transform: translateX(-4.5px)
    }

    75% {
        transform: translateX(4.5px)
    }

    100% {
        transform: translateX(0)
    }
}

/* Missing Exercises in Routine error feedback for [Save] Routine button*/
@keyframes horizontal-shaking-less {
    0% {
        transform: translateX(0)
    }

    25% {
        transform: translateX(1.5px)
    }

    50% {
        transform: translateX(-1.5px)
    }

    75% {
        transform: translateX(1.5px)
    }

    100% {
        transform: translateX(0)
    }
}

/* * START NEW ROUTINE SECTION */

#section-new-routine {
    padding: 1rem 0 3rem;
}

#routine-being-built-details {
    padding: 1rem;

    #p-exercise-to-add {
        font-weight: bold;
        color      : white;
    }

    ol {
        margin: 0.5rem 0;
    }

    #button-clear {
        margin-top      : 0.5rem;
        padding         : 0.15rem 0.4rem;
        border-radius   : 0.33rem;
        font-size       : 0.75rem;
        color           : rgb(235, 235, 235);
        background-color: #b2a7b867;
    }
}

#container-exercise-cards {
    padding              : 0 var(--container-exercise-cards-left-and-right-padding-original-size);
    display              : grid;
    grid-template-columns: repeat(auto-fit, minmax(9.5rem, 1fr));
    gap                  : 0.3rem;

    label {
        font-size: var(--slightly-smaller-font-size);
    }

    /* Toggle for on and off view */
    .label-minutes-duration,
    .input-minutes-duration,
    .label-seconds-duration,
    .input-seconds-duration,
    .button-add {
        display: none;
    }

    .button-exercise,
    .input-minutes-duration,
    .input-seconds-duration,
    .button-add {
        width        : 100%;
        border-radius: 0.4rem;
        color        : rgb(31, 31, 31);
    }

    .button-exercise {
        background-color: var(--clr-lilac);
        padding         : 0.55rem 0;
    }

    .button-exercise:hover,
    .button-exercise:focus {
        background-color: var(--clr-lilac-darker);
    }

    .label-minutes-duration,
    .label-seconds-duration {
        text-align: left;
        margin-top: 0.5rem;
    }

    .input-minutes-duration,
    .input-seconds-duration {
        background-color: white;
        padding         : 0.35rem;
        border          : 0;
        outline-color   : transparent;
    }

    .button-add {
        background-color: white;
        padding         : 0.3rem;
        margin          : 0.5rem 0 1rem;
    }

    /* * Feedback - for when user tries to save a Routine without adding in Exercises */
}

/* * START MEDIA QUERIES */

/* Small tablets or really large phones */
@media (width >=490px) {
    .new-x-cluster {
        width: calc(var(--new-x-cluster-original-width)*1.2);
    }
}

/* Tablets */
@media (width >=750px) {
    #container-exercise-cards {
        padding: 0 calc(var(--container-exercise-cards-left-and-right-padding-original-size)*7.5);
    }
}

@media (width >=1000px) {
    #container-exercise-cards {
        padding              : 0 calc(var(--container-exercise-cards-left-and-right-padding-original-size)*10);
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    }
}

/* Small laptops */
/* Content begins to get bigger here  */
@media (width >=1300px) {
    .title {
        font-size: calc(var(--title-font-size) * 1.1);
    }

    .header-content {
        padding-top: 1rem;
    }

    .button-toggle-view {
        width: calc(var(--btn-toggle-view-original-width) * 1.1);
    }

    .new-x-cluster {
        width: calc(var(--new-x-cluster-original-width)*1.3);

        /* Changes user input's text to be larger (the value) */
        input {
            font-size: 1rem;
        }

        .button-save {
            width: calc(var(--btn-save-original-width)*1.1);
        }
    }

    #container-exercise-cards {
        padding              : 0 calc(var(--container-exercise-cards-left-and-right-padding-original-size)*20);
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }
}

/* Most common desktop screens */
@media (width >=1800px) {
    .title {
        font-size: calc(var(--title-font-size)*1.2);
    }

    .header-content {
        padding-top: 2rem;
    }


    .button-toggle-view {
        width: calc(var(--btn-toggle-view-original-width)*1.2);
    }

    .new-x-cluster {
        width: calc(var(--new-x-cluster-original-width)*1.4);

        .button-save {
            width: calc(var(--btn-save-original-width)*1.2);
        }
    }

    #container-exercise-cards {
        padding: 0 calc(var(--container-exercise-cards-left-and-right-padding-original-size)*22);
    }
}

@media (width >=2400px) {
    .title {
        font-size: calc(var(--title-font-size) * 1.3);
    }

    .header-content {
        padding-top: 3rem;
    }

    #timer-display-routine-name {
        font-size: calc(var(--timer-display-routine-name-original-size)*1.5);
    }

    #timer-display-current-exercise-name {
        font-size: calc(var(--timer-display-current-exercise-name-original-size)*1.5);
    }

    #timer-display-countdown {
        font-size: calc(var(--timer-display-countdown-original-size)*1.5);
    }

    .new-x-cluster {
        width: calc(var(--new-x-cluster-original-width)*1.5);
    }

    #container-exercise-cards {
        padding: 0 calc(var(--container-exercise-cards-left-and-right-padding-original-size)*30);

    }
}