/* * GOOGLE FONTS */
/* Nunuto */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* Nunito Sans */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* * GLOBAL VARIABLES */

:root {
    /* NOT USED */

    --standard-size: 1rem;

    /* IN USE */

    /* Colors */
    --clr-light-grey-lighter: rgb(219, 219, 219);
    --clr-light-grey        : rgb(200, 200, 200);
    --clr-light-grey-darker : rgb(170, 170, 170);

    --clr-pastel-yellow-lighter: #f5cc87;
    --clr-pastel-yellow        : #f8c469;

    --clr-sky-blue: #5e96c2;

    --clr-grey-blue-lightest: rgb(182, 193, 249);
    --clr-grey-blue-lighter : rgb(69, 101, 138);
    --clr-grey-blue         : rgb(32, 51, 71);
    --clr-grey-blue-darker  : rgb(25, 38, 53);

    --clr-pastel-purple-lighter: #b6c1f9;
    --clr-pastel-purple        : rgb(128, 140, 192);
    --clr-pastel-purple-darkest: rgb(24, 32, 70);

    --clr-lilac       : rgb(231, 209, 255);
    --clr-lilac-darker: rgb(200, 167, 236);

    --clr-success-green: #73bd73;
    --clr-error-red    : #c95056;

    --gradient-sky-blue-misty-rose: linear-gradient(in lch, var(--clr-sky-blue), mistyrose);

    /* Sizes */
    --title-header-font-size    : 3rem;
    --title-popup-font-size     : 2.5rem;
    --slightly-smaller-font-size: 0.8em;

    --new-x-cluster-original-width  : 20rem;
    --settings-original-width       : 20rem;
    --btn-toggle-view-original-width: 15rem;
    --btn-save-original-width       : 10rem;

    --timer-display-routine-name-original-size         : 1.5rem;
    --timer-display-current-exercise-name-original-size: 2.25rem;
    --timer-display-countdown-original-size            : 3.5rem;

    --container-exercise-cards-left-and-right-padding-original-size: 1rem;

    interpolate-size: allow-keywords;

}

@property --angle {
    syntax       : "<angle>";
    initial-value: 0deg;
    inherits     : false;
}

/* * START RESETS */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin : 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    display  : block;
}

/* Mostly for aesthetics */
button {
    border       : 0;
    outline-color: transparent;
}

button:hover {
    cursor: pointer;
}

/* Removes the increment/decrement arrows for number inputs */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin            : 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* End resets */

/* * START HTML ELEMENTS */

body {
    font-family     : "Nunito", sans-serif;
    /* dvh accounts for the url bar, etc, on mobile devices (won't show in dev tools. The normal vh is fallback */
    min-height      : 100vh;
    min-height      : 100dvh;
    text-align      : center;
    color           : whitesmoke;
    /* First one is fallback */
    background-image: linear-gradient(to bottom, #000000, #040103, #070307, #08050d, #060811, #060c14, #060f17, #061219, #08151c, #0b1720, #0c1a23, #0d1c27);
    background-image: linear-gradient(in lch, #000000, #040103, #070307, #08050d, #060811, #060c14, #060f17, #061219, #08151c, #0b1720, #0c1a23, #0d1c27);
}

button {
    font-family: "Nunito", sans-serif;
    transition : 300ms ease;
}

li {
    list-style-position: inside;
}

a {
    color: whitesmoke;
}

a:hover,
a:focus {
    color: var(--clr-pastel-purple-lighter);
}

label,
input {
    display: flex;
}

label {
    margin-bottom: 0.25rem;
}

/* * START POPUP OVERLAY  */

/* Disable scrolling */
.no-scroll {
    overflow: hidden;
    height  : 100vh;
    height  : 100dvh;
}

#popup-overlay-anchor {
    position: relative;
}

#popup-overlay {
    position       : absolute;
    height         : 100vh;
    height         : 100dvh;
    width          : 100%;
    z-index        : 99;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    text-align     : center;

    background-color: #020d15;
    color           : rgba(245, 245, 245, 0.867);

    /* Overlay animation */
    animation      : fade-back ease-out forwards;
    /* ! DISABLE/ENABLE FOR TESTING */
    animation-delay: 1.5s;

    img {
        display: inline;
    }
}

@keyframes fade-back {
    0% {}

    100% {
        opacity: 0;
        z-index: -99;
    }
}

.title {
    background-image: linear-gradient(45deg,
            #6b94f3,
            #7199f5,
            #789ef8,
            #8291f1,
            #8184eb,
            #878ae5,
            #8b8dee,
            #8a8deb,
            #9290ed,
            #9a94f0,
            #a396f2,
            #b59cf6,
            #c6a3f9,
            #ceaae9,
            #d3b0f0);
    background-size        : 300% 300%;
    background-clip        : text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-popup {
    font-size: var(--title-popup-font-size);
    animation: animate-gradient-text 1.5s ease infinite;
}

.title-header {
    font-size: var(--title-header-font-size);
    animation: animate-gradient-text 5s ease infinite;
}

@keyframes animate-gradient-text {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#overlay-phrase {
    margin: 0.5rem 0 1.5rem;
}

.version-text {
    font-size: var(--slightly-smaller-font-size);
    color    : var(--clr-light-grey-lighter);
}

/* ----------------------------------------------
  Generated by Animista on 2024-10-13 1:6:7
  Licensed under FreeBSD License.
  See http://animista.net/license for more info. 
  w: http://animista.net, t: @cssanimista
  ---------------------------------------------- 
*/

/* Cherry blossom icon */
.bounce-in-top {
    -webkit-animation: bounce-in-top 1s both;
    animation        : bounce-in-top 1s both;
}

/* animation bounce-in-top */
@-webkit-keyframes bounce-in-top {
    0% {
        -webkit-transform                : translateY(-500px);
        transform                        : translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function        : ease-in;
        opacity                          : 0;
    }

    38% {
        -webkit-transform                : translateY(0);
        transform                        : translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function        : ease-out;
        opacity                          : 1;
    }

    55% {
        -webkit-transform                : translateY(-65px);
        transform                        : translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function        : ease-in;
    }

    72% {
        -webkit-transform                : translateY(0);
        transform                        : translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function        : ease-out;
    }

    81% {
        -webkit-transform                : translateY(-28px);
        transform                        : translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function        : ease-in;
    }

    90% {
        -webkit-transform                : translateY(0);
        transform                        : translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function        : ease-out;
    }

    95% {
        -webkit-transform                : translateY(-8px);
        transform                        : translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function        : ease-in;
    }

    100% {
        -webkit-transform                : translateY(0);
        transform                        : translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function        : ease-out;
    }
}

@keyframes bounce-in-top {
    0% {
        -webkit-transform                : translateY(-500px);
        transform                        : translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function        : ease-in;
        opacity                          : 0;
    }

    38% {
        -webkit-transform                : translateY(0);
        transform                        : translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function        : ease-out;
        opacity                          : 1;
    }

    55% {
        -webkit-transform                : translateY(-65px);
        transform                        : translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function        : ease-in;
    }

    72% {
        -webkit-transform                : translateY(0);
        transform                        : translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function        : ease-out;
    }

    81% {
        -webkit-transform                : translateY(-28px);
        transform                        : translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function        : ease-in;
    }

    90% {
        -webkit-transform                : translateY(0);
        transform                        : translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function        : ease-out;
    }

    95% {
        -webkit-transform                : translateY(-8px);
        transform                        : translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function        : ease-in;
    }

    100% {
        -webkit-transform                : translateY(0);
        transform                        : translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function        : ease-out;
    }
}

/* App's name in overlay */
.tracking-in-expand {
    -webkit-animation: tracking-in-expand 0.9s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation        : tracking-in-expand 0.9s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* animation tracking-in-expand */
@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity       : 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity       : 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

.text-focus-in {
    -webkit-animation: text-focus-in 0.65s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation        : text-focus-in 0.65s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* animation text-focus-in */
@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter        : blur(12px);
        opacity       : 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter        : blur(0px);
        opacity       : 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter        : blur(12px);
        opacity       : 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter        : blur(0px);
        opacity       : 1;
    }
}

/* * START HEADER */

.header-content {
    padding-top: 0.75rem;
}

/* * START DIV TOGGLE EXPAND */

/* Reference https: //youtu.be/JN-nme9oF10 */
/* Requires "interpolate-size: allow-keywords;" in :root{} to work */
.div-toggle-expand {
    /* Initially starts in collapsed state */
    height    : 0;
    visibility: hidden;
    overflow  : hidden;
    transition: height 0.35s ease;
}

.expand {
    visibility: visible;
}

.button-toggle-section {
    background-color: var(--clr-grey-blue-darker);
    color           : whitesmoke;
    border-radius   : 10rem;
    padding         : 1.25rem;
    font-size       : 1rem;
    width           : var(--btn-toggle-view-original-width);
    position        : relative;

    .fa-plus,
    .fa-minus {
        color: var(--clr-grey-blue-lighter);
        color: rgb(200, 200, 200);
    }
}

.button-toggle-section::after {
    content : '';
    position: absolute;

    /* Normally everything is box-sizing: border-box, but for the padding to be applied in this case, we have to use box-sizing: initial to change this pseudo element specifically back to content-box */
    box-sizing: initial;
    height    : 100%;

    width        : 100%;
    border-radius: inherit;
    padding      : 1.65px;
    top          : 50%;
    left         : 50%;
    translate    : -50% -50%;
    z-index      : -1;

    /* Animated gradient effect from https       : //www.youtube.com/watch?v=ezP4kbOvs_E */
    background-image: conic-gradient(from var(--angle),
            #648dee,
            #8291f1,
            #b59cf6,
            #8291f1,
            #648dee);
    animation: 3.5s button-gradient-spin linear infinite;
}

@keyframes button-gradient-spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

/* * START SETTINGS SECTION */

/* Visibility toggles various settings */
/* Such settings: extra details, instructions */
.hide {
    display: none;
}

.show {
    display: block;
}

#section-settings {
    width : var(--settings-original-width);
    margin: 0 auto;

    fieldset {
        border: 0;
    }

    input,
    label {
        display: inline-block;
    }
}

.settings-bar {
    display: inline-block;
    margin : 0.15rem 0.5rem;
    color  : var(--clr-light-grey-darker);


    input,
    label {
        cursor: pointer;
    }

    label {
        /* For some reason, this makes the sound icon not shift other icons when being toggled */
        /* The  sound "on" icon is bigger than the sound "off" icon so it shifts normally */
        width: 1rem;
    }

    input[type="checkbox"] {
        opacity: 0;
    }

    input[type="checkbox"]:checked {
        opacity: 0;
    }

    input[type="button"] {
        border       : 0;
        outline-color: transparent;
    }
}

/* TODO */
#label-popup-info-settings {
    color: var(--clr-pastel-yellow-lighter);
}

#popover-instructions {}

#popover-instructions:popover-open {}

/* * Feedback - for when user toggle settings to show extra details and/or app instructions */
.glow {
    animation: glowEffect 1s ease-in-out;
}

@keyframes glowEffect {

    0%,
    100% {
        text-shadow: 0 0 2.5px var(--clr-pastel-purple-darkest), 0 0 5px var(--clr-pastel-purple-darkest), 0 0 10px var(--clr-pastel-purple-darkest);
    }

    35% {
        text-shadow: 0 0 5px var(--clr-pastel-purple), 0 0 10px var(--clr-pastel-purple), 0 0 15px var(--clr-pastel-purple);
    }
}

/* * START TIMER SECTION */

#section-timer {
    padding: 0.5rem 0 2rem;
}

#timer-display-routine-text,
#timer-display-current-exercise-text {
    font-size    : var(--slightly-smaller-font-size);
    font-weight  : bolder;
    margin-bottom: 0.25rem;
    color        : var(--clr-light-grey);
}

.timer-display-cluster {
    padding: 1rem;
}

#timer-display-routine-name {
    font-size: var(--timer-display-routine-name-original-size);
}

#timer-display-current-exercise-name {
    font-size: var(--timer-display-current-exercise-name-original-size);
    color    : var(--clr-lilac);
}

#timer-display-countdown {
    font-size  : var(--timer-display-countdown-original-size);
    color      : white;
    padding-top: 0.5rem;
}

#container-control-buttons {
    /* Don't show buttons if there are no Routines loaded */
    display      : none;
    margin-bottom: 0.9rem;

    .button-control {
        /* This is pill shaped*/
        /* margin          : 0 0.25rem;
        background-color: var(--clr-pastel-purple);
        color           : whitesmoke;
        border-radius   : 3rem;
        width           : 6rem;
        padding         : 1.2rem 1rem; */

        /* This is circle shaped */
        margin          : 0 0.25rem;
        background-color: var(--clr-pastel-purple);
        color           : whitesmoke;
        border-radius   : 50%;
        width           : 4rem;
        height          : 4rem;
    }

    .button-control:disabled {
        background-color: #1a1a1f;
    }
}

/* * Feedback/Animation - for when the user has fully completed all the exercises in their routine without resetting */
.finished-routine-feedback {
    background-image: linear-gradient(45deg,
            #fff8dc,
            #fff5cb,
            #ffd6e8,
            #f1b3e6,
            #88d5ff,
            #96bcff,
            #82b0ff,
            #c6b3ff,
            #e3cbff,
            #c1ffe0,
            #a8ffd9) !important;
    background-size        : 300% 300% !important;
    background-clip        : text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    /* animate-gradient-text are keyframes that belong to .title class */
    animation              : animate-gradient-text 8s ease infinite !important;
}

/* * START STYLES FOR EXTRA DETAILS */

/* General styling for timer-extra*/
.timer-extra {
    padding: 1rem;
}

#timer-upcoming-text {
    font-size    : var(--slightly-smaller-font-size);
    font-weight  : bolder;
    color        : var(--clr-light-grey);
    margin-bottom: 0.5rem;
}

.timer-extra-details {
    font-size: var(--slightly-smaller-font-size);
}

/* For "Show/Hide Exercise List" */
#ol-currently-loaded-routine {
    padding-top: 0.5rem;
    height     : 0;
    overflow   : hidden;
    transition : height 0.25s ease;
}

.routine-list-exercise {
    color: var(--clr-lilac);
}

#routine-list {
    padding-bottom: 0rem;
}

/* * START BUTTON TOGGLE LISTS */
/* For Hide/Show Exercise List / Show/Hide Instructions */

.button-toggle-lists {
    padding        : 0;
    text-decoration: none;
    background     : none;
    font           : inherit;
    cursor         : pointer;
    font-weight    : bold;
    color          : var(--clr-light-grey);
}

.list-building-styles {
    font-size: var(--slightly-smaller-font-size);
}

/* * START INSTRUCTIONS SECTION */

#container-instructions {
    #ol-instructions {
        display    : none;
        padding-top: 0.5rem;
    }

    a {
        font-size: 0.83rem;
    }
}

.span-new {
    background-image: linear-gradient(45deg,
            #648dee,
            #8291f1,
            #b59cf6,
            #8291f1);
    background-size        : 200% 200%;
    background-clip        : text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation              : animate-gradient-text 3s ease infinite reverse;
}

.span-exercise {
    color: var(--clr-lilac);
}

.span-save {
    color: var(--clr-pastel-yellow-lighter);
}

/* * START SECTION NEW EXERCISE */

#section-new-exercise {
    padding: 1rem 0 1rem;
}

/* This is for both Routine and Exercises' text inputs */
.new-x-cluster {
    width     : var(--new-x-cluster-original-width);
    margin    : 0 auto;
    margin-top: 1.5rem;

    label,
    input {
        width: 100%;
    }

    input {
        outline      : 0;
        outline-color: transparent;
        border       : 0;
        border-bottom: 2px solid var(--clr-light-grey);
        background   : transparent;
        color        : var(--clr-light-grey);
    }

    input:hover,
    input:focus {
        border-bottom: 2px solid var(--clr-lilac-darker);
    }

    .button-save {
        width           : var(--btn-save-original-width);
        margin          : 0 auto;
        margin-top      : 1rem;
        padding         : 1rem 0;
        border-radius   : 10rem;
        color           : rgb(35, 35, 35);
        background-color: var(--clr-pastel-yellow-lighter);
    }

    /* * Feedback - for successful save of an Exercise or Routine */
    .button-success-save {
        background-color: var(--clr-success-green);
        color           : whitesmoke;
        transition      : transform ease-in 0.1s, box-shadow ease-in 0.25s;
        box-shadow      : 0 2px 1rem rgba(40, 167, 69, 0.5);
        position        : relative;
    }

    /* Credits to https: //codepen.io/nourabusoud/pen/ypZzMM?editors=0110 for the bubble effects */
    .button-success-save.animate:before,
    .button-success-save.animate:after {
        position         : absolute;
        content          : '';
        display          : block;
        width            : 140%;
        height           : 100%;
        left             : -20%;
        z-index          : -1;
        background-repeat: no-repeat;
    }

    .button-success-save.animate:before {
        top: -75%;
        background-image: radial-gradient(circle, goldenrod 20%, transparent 20%),
            radial-gradient(circle, transparent 20%, goldenrod 20%, transparent 30%),
            radial-gradient(circle, goldenrod 20%, transparent 20%),
            radial-gradient(circle, goldenrod 20%, transparent 20%),
            radial-gradient(circle, transparent 10%, goldenrod 15%, transparent 20%),
            radial-gradient(circle, goldenrod 20%, transparent 20%),
            radial-gradient(circle, goldenrod 20%, transparent 20%),
            radial-gradient(circle, goldenrod 20%, transparent 20%),
            radial-gradient(circle, goldenrod 20%, transparent 20%);
        background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
        animation      : topBubbles ease-in-out 0.75s forwards;
    }

    .button-success-save.animate:after {
        bottom: -75%;
        background-image: radial-gradient(circle, goldenrod 20%, transparent 20%),
            radial-gradient(circle, goldenrod 20%, transparent 20%),
            radial-gradient(circle, transparent 10%, goldenrod 15%, transparent 20%),
            radial-gradient(circle, goldenrod 20%, transparent 20%),
            radial-gradient(circle, goldenrod 20%, transparent 20%),
            radial-gradient(circle, goldenrod 20%, transparent 20%),
            radial-gradient(circle, goldenrod 20%, transparent 20%);
        background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
        animation      : bottomBubbles ease-in-out 0.75s forwards;
    }

    /* End crediting for bubble effect */

    /* * Feedback - for when the user tries to save an Exercise or Routine without inputting a name */
    .input-error-missing-name {
        border-bottom: 2px solid var(--clr-error-red);
        animation    : horizontal-shaking 0.15s infinite;
    }

    /* * Feedback 1 - for when a user tries to save a duplicate Exercise */
    /* * Feedback 2 - when the user tries to save a Routine without adding any Exercises */
    .button-error-red {
        background-color: var(--clr-error-red);
        color           : whitesmoke;
        transition      : transform ease-in 0.1s, box-shadow;
        box-shadow      : 0 2px 1rem rgba(161, 20, 20, 0.658);
        animation       : horizontal-shaking-less 0.2s infinite;
    }

    .button-error-red:hover,
    .button-error-red:focus {
        background-color: var(--clr-error-red);

    }
}

/* Credits to https: //codepen.io/nourabusoud/pen/ypZzMM?editors=0110 for the bubble effects */
/* Successful save feedback for [Save] buttons */
@keyframes topBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }

    50% {
        background-position: 0% 85%, 0% 50%, 10% 65%, 20% 40%, 30% 55%, 22% 60%, 50% 65%, 65% 50%, 90% 55%;
    }

    100% {
        background-position: 0% 80%, 0% 40%, 10% 50%, 20% 30%, 30% 45%, 22% 50%, 50% 50%, 65% 40%, 90% 45%;
        background-size    : 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

@keyframes bottomBubbles {
    0% {
        background-position: 10% -10%, 30% -5%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }

    50% {
        background-position: 0% 60%, 20% 65%, 45% 55%, 60% 80%, 75% 60%, 95% 50%, 105% 30%;
    }

    100% {
        background-position: 0% 70%, 20% 75%, 45% 60%, 60% 90%, 75% 70%, 95% 60%, 105% 40%;
        background-size    : 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

/* End crediting for bubble effect */

/* Missing name error feedback for inputs */
@keyframes horizontal-shaking {
    0% {
        transform: translateX(0)
    }

    25% {
        transform: translateX(4.5px)
    }

    50% {
        transform: translateX(-4.5px)
    }

    75% {
        transform: translateX(4.5px)
    }

    100% {
        transform: translateX(0)
    }
}

/* Missing Exercises in Routine error feedback for [Save] Routine button*/
@keyframes horizontal-shaking-less {
    0% {
        transform: translateX(0)
    }

    25% {
        transform: translateX(1.5px)
    }

    50% {
        transform: translateX(-1.5px)
    }

    75% {
        transform: translateX(1.5px)
    }

    100% {
        transform: translateX(0)
    }
}

/* * START NEW ROUTINE SECTION */

#section-new-routine {
    padding: 1rem 0 3rem;
}

#routine-being-built-details {
    /* border: 2px solid palevioletred; */
    margin: 1.5rem 0;

    #p-exercise-to-add {
        font-weight: bold;
        color      : white;
    }

    ol {
        margin: 0.5rem 0;
    }

    #button-clear {
        margin-top      : 0.5rem;
        padding         : 0.15rem 0.4rem;
        border-radius   : 0.33rem;
        font-size       : 0.75rem;
        color           : rgb(235, 235, 235);
        background-color: #b2a7b867;
    }
}

#container-buffer-duration {
    display           : flex;
    /* flex-direction : column; */
    align-items       : center;
    justify-content   : center;
    padding-bottom    : 1.5rem;

    label {
        font-size    : var(--slightly-smaller-font-size);
        padding-right: 0.5rem;
    }

    input {
        outline         : 0;
        outline-color   : transparent;
        border          : 0;
        border-bottom   : 2px solid var(--clr-light-grey);
        background-color: transparent;
        color           : var(--clr-light-grey);
        width           : 3rem;
        text-align      : center;
        padding         : 2.5px;
        margin          : 0 1.5px;
    }

    /* * Feedback for when either of the buffer's duration inputs are empty */
    .input-error-missing-value {
        border-bottom: 2px solid var(--clr-error-red);
        animation    : horizontal-shaking-less 0.15s infinite;
    }


}

#container-exercise-cards {
    padding              : 0 var(--container-exercise-cards-left-and-right-padding-original-size);
    display              : grid;
    grid-template-columns: repeat(auto-fit, minmax(9.5rem, 1fr));
    gap                  : 0.3rem;

    label {
        font-size: var(--slightly-smaller-font-size);
    }

    /* Toggle for on and off view */
    .button-delete,
    .label-minutes-duration,
    .input-minutes-duration,
    .label-seconds-duration,
    .input-seconds-duration,
    .button-add {
        display: none;
    }

    .button-exercise,
    .button-delete,
    .input-minutes-duration,
    .input-seconds-duration,
    .button-add {
        width        : 100%;
        border-radius: 0.4rem;
        color        : rgb(35, 35, 35);
    }

    .button-exercise {
        background-color: var(--clr-lilac);
        padding         : 0.6rem 0;
    }

    .button-exercise:hover,
    .button-exercise:focus {
        background-color: var(--clr-lilac-darker);
    }

    .label-minutes-duration,
    .label-seconds-duration {
        text-align: left;
        margin-top: 0.5rem;
    }

    .input-minutes-duration,
    .input-seconds-duration {
        background-color: white;
        padding         : 0.35rem;
        border          : 0;
        outline-color   : transparent;
    }

    .button-add {
        background-color: white;
        padding         : 0.3rem;
        margin          : 0.5rem 0 1rem;
    }

    .button-delete {
        background-color: dimgray;
        color           : floralwhite;
        padding         : 0.25rem;
        margin          : 0.35rem 0 0;
    }
}

/* * START MEDIA QUERIES */

/* Small tablets or really large phones */
@media (width >=490px) {
    .new-x-cluster {
        width: calc(var(--new-x-cluster-original-width)*1.2);
    }
}

/* Tablets */
@media (width >=750px) {
    #container-exercise-cards {
        padding: 0 calc(var(--container-exercise-cards-left-and-right-padding-original-size)*7.5);
    }
}

@media (width >=1000px) {
    #container-exercise-cards {
        padding              : 0 calc(var(--container-exercise-cards-left-and-right-padding-original-size)*10);
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    }
}

/* Small laptops
? Content begins to get bigger here Hover effects work well on desktop but doesn't quite work that well on mobile because the hover state gets stuck after a user taps on the button.
 */
@media (width >=1300px) {
    .title-header {
        font-size: calc(var(--title-header-font-size) * 1.1);
    }

    .header-content {
        padding-top: 1rem;
    }

    /* Don't want a hover effect over buttons that are disabled */
    #container-control-buttons {
        .button-control:not(:disabled):hover {
            background-color: var(--clr-grey-blue-darker);
            color           : white;
        }
    }

    .button-toggle-section {
        width: calc(var(--btn-toggle-view-original-width) * 1.1);
    }

    .button-toggle-section:hover {
        background-color: var(--clr-grey-blue);

        .fa-plus,
        .fa-minus {
            color: var(--clr-grey-blue-lightest);
        }
    }

    .new-x-cluster {
        width: calc(var(--new-x-cluster-original-width)*1.3);

        /* Changes user input's text to be larger (the value) */
        input {
            font-size: 1rem;
        }

        .button-save {
            width: calc(var(--btn-save-original-width)*1.1);
        }

        .button-save:hover {
            background-color: var(--clr-pastel-yellow);
        }

        /* Just in case the user was hovering the button after pressing save, this will ensure that the button isn't showing yellow like color */
        .button-success-save:hover,
        .button-success-save:focus {
            background-color: var(--clr-success-green);
        }
    }

    #container-exercise-cards {
        padding              : 0 calc(var(--container-exercise-cards-left-and-right-padding-original-size)*20);
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }
}

/* Most common desktop screens */
@media (width >=1800px) {
    .title-header {
        font-size: calc(var(--title-header-font-size)*1.3);
    }

    .header-content {
        padding-top: 1.25rem;
    }

    .button-toggle-section {
        width: calc(var(--btn-toggle-view-original-width)*1.2);
    }

    .new-x-cluster {
        width: calc(var(--new-x-cluster-original-width)*1.4);

        .button-save {
            width: calc(var(--btn-save-original-width)*1.2);
        }
    }

    #container-exercise-cards {
        padding: 0 calc(var(--container-exercise-cards-left-and-right-padding-original-size)*22);
    }
}

@media (width >=2400px) {
    .title-header {
        font-size: calc(var(--title-header-font-size) * 1.5);
    }

    .header-content {
        padding-top: 2rem;
    }

    #timer-display-routine-name {
        font-size: calc(var(--timer-display-routine-name-original-size)*1.5);
    }

    #timer-display-current-exercise-name {
        font-size: calc(var(--timer-display-current-exercise-name-original-size)*1.5);
    }

    #timer-display-countdown {
        font-size: calc(var(--timer-display-countdown-original-size)*1.5);
    }

    .new-x-cluster {
        width: calc(var(--new-x-cluster-original-width)*1.5);
    }

    #container-exercise-cards {
        padding: 0 calc(var(--container-exercise-cards-left-and-right-padding-original-size)*30);

    }
}